# dependencies
/node_modules

# local
.DS_Store

# production
/docs/*.html
docs/fonts/
docs/scripts/
docs/styles/

/dist
bundleStats.html
/local_temp_server_files
/.vscode
/coverage

# environment variables
.env
