# dependencies
/node_modules

# local
.DS_Store

# production
/docs
!/docs/README.md
!/docs/ZXing_Barcode.md
/dist
bundleStats.html
/local_temp_server_files
/.vscode
/coverage

# environment variables
.env
