VITE_SOLID_IDENTITY_PROVIDER="http://localhost:3000/"
VITE_SOLID_POD_SERVER="http://localhost:3000/"
SUGGESTED_OIDC_OPTIONS="http://localhost:3000/, https://opencommons.net/, https://solidcommunity.net/, https://login.inrupt.com/, https://inrupt.net/"
