name: Continuous Integration

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - Master
      - Development

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - name: Build
        run: |
          npm ci
          npm run build

      - name: Upload frontend assets
        uses: actions/upload-pages-artifact@v1
        with:
          path: './dist'

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/Master'
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
    steps: 
      - name: Code Checkout
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: npm ci
      - name: eslint
        run: npm run lint
      - name: prettier
        run: npm run prettier:check
